@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Annie+Use+Your+Telescope&family=DM+Sans&family=Tangerine&display=swap"); /*primary font*/
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap"); /*secondary font*/

:root {
  --bg-color: #212347;
  --button-color: #53b4bf;
  --button-hover-color: #f4eef2;
  --color-accent: #d9c6b9;
  --color-2-accent: #0f5f71;

  --primary-font: "DM sans", sans-serif;
  --secondary-font: "Zen Kaku Gothic Antique", serif;
  --main-text-color: #f4eef2;
}

body {
  background-color: var(--bg-color);
  margin: 0%;
}

header {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--main-text-color);
}

.backgroundImage {
  max-width: 100%;
  opacity: 60%;
}

.frontPageCategoryMenu {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  z-index: 10;
}

#frontPage1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border-color: var(--color-accent);
}

.recommendations {
  display: flex;
  overflow-x: auto;
}

.recommendations img {
  max-width: 30%;
  justify-content: space-between;
  padding: 0.3rem;
  background-image: linear-gradient(
    to bottom,
    rgba(65, 64, 64, 0) 0,
    rgba(20, 20, 20, 0.15) 15%,
    rgba(20, 20, 20, 0.35) 29%,
    rgba(20, 20, 20, 0.58) 44%,
    #141414 68%,
    #212347 100%
  );
}

/*IPAD PRO & DESKTOP VIEW*/
@media (min-width: 900px) {
  .backgroundImage {
    max-width: 60%;
    opacity: 60%;
  }

  .frontPageCategoryMenu {
    padding: 15rem;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    z-index: 10;
  }

  #frontPage1 {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  hr {
    border-color: var(--color-accent);
  }

  .recommendations {
    display: flex;
    overflow-x: auto;
  }

  .recommendations img {
    max-width: 20%;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-image: linear-gradient(
      to bottom,
      rgba(65, 64, 64, 0) 0,
      rgba(20, 20, 20, 0.15) 15%,
      rgba(20, 20, 20, 0.35) 29%,
      rgba(20, 20, 20, 0.58) 44%,
      #141414 68%,
      #212347 100%
    );
  }
}

#ProductPageBody {
  background-color: var(--bg-color);
  grid-template-rows: 3;
  display: grid;
  /* grid-template-columns: 2;
  grid-template-rows: 3;
  display: grid;*/
}

#ProductPageHeading {
  /*grid-column-start: 1;
  grid-column-end: 3;*/
  grid-row-start: 2;
  grid: 3;
}

#ProductPageText {
  /*grid-column-start: 3;
  grid-column-end: 4;*/
}

#MoviePoster {
  /*background-image: url(./popcorn.svg);*/
  position: relative;
  max-width: 100%;
}

@media (min-width: 900px) {
  #grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3;
    display: grid;
  }

  #ProductPageBody {
    background-color: var(--bg-color);
    grid-template-rows: 3;
    display: grid;
  }

  #ProductPageHeading {
    grid-row-start: 2;
    grid: 3;
  }

  #ProductPageText {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #MoviePoster {
    /*background-image: url(./popcorn.svg);*/
    position: relative;
    max-width: 50%;
  }
}
